/* ======================  Add Section Start  ======================*/
.add-section {
  background-color: hsl(var(--black) / 0.02);
  padding: 60px 0;
  margin-top: 60px;
}

.ads{
    border: 1px solid hsl(var(--border-color));
    
}

/* ======================  Add Section End  ======================*/