<!-- ==================== Header Start Here ==================== -->
<header class="header" id="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <button
        class="navbar-toggler header-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span id="hiddenNav"><i class="las la-bars"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="header__content d-flex flex-column flex-lg-row align-items-lg-center w-100">
          <div class="nav-scroll">
            <button class="nav-scroll__btn nav-scroll__btn--left" type="button" aria-label="Previous categories">
              <i class="las la-angle-left"></i>
            </button>
            <div class="nav-scroll__track">
              <ul class="navbar-nav nav-menu align-items-lg-center">
                <li class="nav-item">
                  <a class="nav-link" href="#"><span class="nav-link__text">Bangladesh</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><span class="nav-link__text">International</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><span class="nav-link__text">Sports</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><span class="nav-link__text">Opinion</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><span class="nav-link__text">Business</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><span class="nav-link__text">Youth</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><span class="nav-link__text">Entertainment</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><span class="nav-link__text">Lifestyle</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><span class="nav-link__text">Claim vs Fact</span></a>
                </li>
              </ul>
            </div>
            <button class="nav-scroll__btn nav-scroll__btn--right" type="button" aria-label="Next categories">
              <i class="las la-angle-right"></i>
            </button>
          </div>

          <ul class="navbar-nav header-actions ms-lg-auto">
            <li class="header-actions__item">
              <a class="header-actions__link" href="#">
                <span class="header-actions__icon"><i class="las la-search"></i></span>
                <span class="header-actions__text">Search</span>
              </a>
            </li>
            <li class="header-actions__item">
              <a class="header-actions__link" href="#">
                <span class="header-actions__icon"><i class="las la-newspaper"></i></span>
                <span class="header-actions__text">E-paper</span>
              </a>
            </li>
            <li class="header-actions__item">
              <a class="header-actions__link" href="#">
                <span class="header-actions__icon"><i class="las la-globe"></i></span>
                <span class="header-actions__text">বাংলা</span>
              </a>
            </li>
            <li class="header-actions__item">
              <a class="header-actions__link" href="login.html">
                <span class="header-actions__icon"><i class="las la-user"></i></span>
                <span class="header-actions__text">Login</span>
              </a>
            </li>
            <li class="header-actions__item">
              <a class="header-actions__link" href="#">
                <span class="header-actions__icon"><i class="las la-bars"></i></span>
                <span class="header-actions__text">Menu</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->
